html{
    height: 100%;
    width: 100%;
    
}

body{
    margin-left: 0;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(164, 164, 255);
    color: rgb(36, 22, 102);
    width: 100%;
    height: 100%;
    font-family: "Afacad Flux", serif;
}
.controls{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.mainBox{
    background-color: rgb(197, 144, 169);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 30%;
    min-width: 20%;
    margin-top: 20px;
    color: rgb(54, 39, 107);
    /**text-shadow: 
        1px 1px 0px rgb(255, 255, 255),   
        -1px -1px 0px rgb(255, 255, 255), 
        1px -1px 0px rgb(255, 255, 255),  
        -1px 1px 0px rgb(255, 255, 255);
*/
        box-shadow: 0 0 0 1.5px #193153
    
}
.display{
    font-size: 200%;
    margin-bottom: 0;
    margin-bottom: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 200;
}
.startButton,.stopButton,.clearButton{

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin: 5px;
    margin-top: 0;
    font-size: 110%;
    width: 15vh;
    min-height: 5vh;
    color: black;



}
.startButton:hover, .stopButton:hover, .clearButton:hover {
    transition: 0.5s;
    background-color: #dbdbdb;
    cursor: pointer;
}

.titleBox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.title{
    font-size: 300%;
    color: rgb(38, 39, 85);
    margin-bottom: 0px
}
.pokeball{
    width: 8vh;
    height: 8vh;
    margin-right: 20px;
}
.inputBox{

    margin-top: 20px;
    display: flex;
    width: 90%;
    justify-content: center;
    margin-bottom: 10px;

}
.buttonsBox{

    display: flex;
    justify-content: center;
}
.pokemonInput{
    max-width: 60%;
    border-radius: 10px;
    font-size: 3vh;
    padding-left: 10px;
}
.enter{
    font-size: 3vh;
    margin-left: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: black;
}
.pokemonPic{
    height: 20vh;
    width: 20vh;
}
.catchButton{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-size: 4vh;
    width: 20vh;
    height: 8vh;
    border-radius: 20px;
    background-color: rgb(198, 247, 198);
}

.catchTime{
    margin-top: 10px;
    margin-bottom: 10px;
    margin: 0;
    font-size: 1.2em;
    background-color: aliceblue;
    border-radius: 20px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;

}
.addParty{
    display: flex;
    align-items: center;
    margin-top: 11px;
    border: none;
    font-size: 3.4vh;
    width: fit-content;
    height: 8vh;
    border-radius: 20px;
    background-color: rgb(198, 247, 198);
}
.addParty:hover {
    transition: 0.5s;
    background-color: #a7e4ac;
    cursor: pointer;
}

.progressContainer{
    display: flex;

    align-items: center;
margin: 0;
margin-top: 20px;
background-color: rgb(255, 255, 255);
width: 40vh;
height: 7vh;
border-radius: 5px;
background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.16, rgb(207, 207, 207)), color-stop(0.79, rgb(252, 252, 252)));
background-image: -moz-linear-gradient(center bottom, rgb(207, 207, 207) 16%, rgb(252, 252, 252) 79%);
background-image: linear-gradient(to top, rgb(212, 212, 212) 16%, rgb(252, 252, 252) 79%); 
padding: 3px;
border: 1px solid #000;
color: black;
text-decoration: none;
}
.progressBar{
    background-color: rgb(51, 77, 161);
    width: 0%;
    height: 70%;
    margin-left: 10px;
    margin-right: 10px;
    transition: width 1s ease-out; /* Smooth transition for each step */
    border: 1px solid black;
}
.menuPic:hover, .menuPic2:hover{
    transition: 0.5s;
    cursor: pointer;
    opacity: 75%;
}
.navBar{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: 0;
    width: 0%;
    height: 100%;
    background-color: rgb(122, 137, 187);
    transition: 0.7s;
}
.pokemonMenu{
    width: 85%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150%;
    border-radius: 10px;
    margin-top: 10px;
    font-family: "Afacad Flux", serif;
    cursor: pointer;
    color: black;
}
.menuPic{
    
    top: 0;

    width: 10vh;
    height: 10vh;
    margin-top: 20px;
    

}
.menuPic2{
    position: absolute;
    top: 0;
    right: 0;
    width: 10vh;
    height: 10vh;
    margin-top: 35px;
    margin-right: 25px;

}
.pokemonCollection{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 80%;
    height: 80%;
    background-color: rgb(133, 147, 223);
    border-radius: 40px;
}
.exitPokemonCollection{

    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 2rem;
    padding-left: 8px;
    padding-right: 8px;
    background-color: #dbdbdb;
    
}
.pokemonGrid{
    height: 80%;
    width: 90%;
    display: grid;
    row-gap: 50px;
    column-gap: 50px; 
    grid-template-columns: repeat(auto-fill, minmax(20%, 1fr)); 
    grid-template-rows: repeat(auto-fill, minmax(30%, 1fr)); 

}
.leftArrow{
    height: 10vh;
    width: 10vh;
    position: absolute;
    left: 0;

}
.rightArrow{
    height: 17vh;
    width: 10vh;
    position: absolute;
    right: 0;

}
.rightArrow, .leftArrow{
    height: 12vh;
    width: 9vh;
}
.rightArrow:hover,.leftArrow:hover{
    cursor: pointer;
    opacity: 80%;
}
.pageNum{
    margin-bottom: 20px;
    position: absolute;
    bottom: 0;
    font-size: 2rem;
    background-color: rgb(221, 221, 221);
    border-radius: 20px;
    padding-left:12px ;
    padding-right: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
}
.skip{
    height: 10vh;
    width: 20vh;
    font-size: 3rem;
}
.randomize{
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
    margin-left: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    padding: 8px;
}
.shuffle{
    height: 20px;
    width: 18px;
}